body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.app {
  min-height: 100vh;
  padding: 30px;
  background: linear-gradient(135deg, #c3ecff, #f5f7fa);
}

/* SEARCH */
.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.search input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
}

.search button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #6a9cff;
  color: white;
  cursor: pointer;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  gap: 30px;
  background: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.left h1 {
  font-size: 60px;
  margin: 10px 0;
}

.desc {
  text-transform: capitalize;
  color: gray;
}

.details p {
  margin: 6px 0;
}

/* HOURLY */
.hourly {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.hour-card {
  min-width: 90px;
  background: #eef3ff;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}

/* MAP SECTION */
.map-section {
  display: flex;
  gap: 20px;
}

.map-card {
  flex: 1;
  background: white;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.map-card img {
  width: 100%;
  border-radius: 12px;
}

.error {
  color: red;
}

.footer-details {
    text-align: center;
    font-size: x-small;
}
